{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            {% if user == post.author %}
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                    {% include './icons/pencil-fill.svg' %}
                </a>
                <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}">
                    {% include './icons/trash2-fill.svg' %}
                </a>
            {% endif %}
        </aside>
        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
        
        <form action="{%url 'post_like' pk=post.pk%}" method="POST">
            {%csrf_token%}
            <button class="btn btn-primary btn-sm" name="post_pk" value="{{post.pk}}">like<br>{{post.likes.count}}</button>
        </form>
        <br>
        <br>
        <h2>Comments...</h2>
        {% if not post.comments.all %}
            No Comments..
        {% else %}
            {% for comment in post.comments.all %}
                <strong>
                    {{comment.name}} - {{comment.date_added}}
                </strong>
                <br>
                {{comment.body}}
                <br>
            {% endfor %}
        {% endif %}
        <br>
        <br>
        <a href="{%url 'add_comment' pk=post.pk %}">add comment</a>
        
    </article>
{% endblock %}